* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2438;
    padding: 0 15%;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 400;
}


/* -----Navigation bar styles */
nav {
    display: flex;
    flex-direction: row-reverse;
}

nav a {
    font-size: 1rem;
    margin: 5px 10px;
    color: blanchedalmond;
    text-decoration: none;
    transition: 0.3s;
    padding-bottom: 2px;
    font-weight: 500;
    position: relative;
    padding: 2px 5px;
}

nav a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: cornsilk;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: center;
}


nav a:hover::after {
    transform: scaleX(1);
}



/* ----------- Main contaier styles*/
.main-container {
    height: 90vh;
}

.right-container{
    text-align: left;
}

.text-container{
    align-self: center;
}