* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    scrollbar-color: rgba(0, 0, 0, .5);
    scrollbar-track-color: #f1f1f1;
}



/*-------- Custom scroll bar and selection -----*/

::selection {
    background-color: grey;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar:window-inactive{
} 

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .6);
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* -----Navigation bar styles */
/* nav {
    text-align: right;
    padding: 10px 0px;
    height: 10vh;
    position: fixed;
} */

header {
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    z-index: 1;
    transition: all ease-in-out 0.5s;
}

.green-nav{
    background-color: lawngreen;
}

header:after {
    content: "";
    display: block;
    clear: both;
}
nav {
    float: right;
}

nav a {
    font-size: 1rem;
    margin: 5px 10px;
    color: #484848;
    text-decoration: none;
    transition: 0.3s;
    padding-bottom: 2px;
    font-weight: 500;
    position: relative;
    padding: 2px 5px;
    cursor: pointer;
}

nav a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    height: 1px;
    width: 100%;
    background-color: #484848;
    transform: scaleX(0);
    transition: 0.5s;
    transform-origin: center;
}


nav a:hover::after {
    transform: scaleX(1);
}



/* ----------- Main contaier styles*/
main{
    height: 100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.section{
    scroll-snap-align: start;
}

.main-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}

.right-container{
    text-align: left;
}

.text-container{
    align-self: center;
}

.left-image{
    width: 200px;
    height: 200px;
    background-color: palegreen;
}


/* About section */

.about-section{
    height: 100vh;
    padding-top: 38.5px;
    border-bottom: 1px solid grey;
}

.about-section >  h2{
    padding: 10px 10px 10px 0px;
}


/* ----Work section ---- */

#work{
    height: 100vh;
    padding-top: 38.5px;
}

#work >h2 {
    padding: 10px 10px 10px 0;
}

.inverse{
    background-color: #111;
    color: #eee;
}